<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/about.css">
    <title>About Coffee Diseases</title>
</head>
<body>
  <div class="buttons-container">
    <a href="/" class="button">Home</a>
  </div>


    <div class="containers">
        <h1>About Coffee Diseases</h1>

        <!-- Container for Rust disease -->
        <div class="disease-container">
            <h2>Rust</h2>
            <p>
                <strong>Prevention:</strong> Ensure proper spacing between coffee plants to improve air circulation, as rust thrives in humid conditions. Avoid excessive overhead irrigation, as wet foliage can promote rust development.
            </p>
            <p>
                <strong>Treatment:</strong> Apply fungicides labeled for rust control as a preventive measure or at the first sign of infection. Follow manufacturer instructions carefully.
            </p>
        </div>

        <!-- Container for Black Rot disease -->
        <div class="disease-container">
            <h2>Black Rot</h2>
            <p>
                <strong>Prevention:</strong> Maintain good farm hygiene by removing and destroying infected leaves promptly. Ensure proper drainage to prevent waterlogging, as black rot thrives in waterlogged conditions.
            </p>
            <p>
                <strong>Treatment:</strong> Apply copper-based fungicides early in the season as a preventive measure. Regularly inspect plants for signs of infection and apply fungicides if detected.
            </p>
        </div>

        <!-- Container for Brown Eye Spot disease -->
        <div class="disease-container">
            <h2>Brown Eye Spot</h2>
            <p>
                <strong>Prevention:</strong> Prune trees to improve air circulation and sunlight penetration within the canopy. Avoid overhead irrigation to minimize leaf wetness, which can contribute to disease development.
            </p>
            <p>
                <strong>Treatment:</strong> Apply fungicides containing active ingredients like copper or mancozeb at regular intervals during the growing season. Remove and destroy infected leaves to reduce disease spread.
            </p>
        </div>
    </div>

    <script src="scripts/main.js"></script>
</body>
</html>
